*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

system
vendor

.editorconfig
*.log
*.zip
.DS_Store
._*
Thumbs.db
.cache
*.sublime-project
*.sublime-workspace
