<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>

  <style>
    table td {border-collapse: collapse;}
    hr {
      height: 1px!important;
      color: #eeeeee!important;
      background-color: #eeeeee!important;
      border: 0px!important;
    }
    img {border:0!important; border-radius: 50%; vertical-align: middle;}
  </style>
</head>

<body style="margin: 0;padding: 20px 0 20px 0;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Helvetica, Arial, Verdana, sans-serif; color: #55555; font-size: 14px; line-height: 21px;" align="center">
  <tr>
    <td align="center" style="padding: 20px 0 20px 0;">
      <table width="640" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table>
              <tr>
                <td style="border-bottom: 1px solid #eeeeee;" align="left">
                  <h2><img src="{SITE_LOGO}" width="49" height="48" alt="{SITE_NAME}" style="vertical-align: middle;" /> {SITE_NAME}</h2>
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 20px 0;" align="left" valign="top">
                  <table width="640" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #eee; padding: 0 0 20px 0; margin: 0 0 20px 0;">
                    <tr>
                      <td width="430" valign="top" align="left" style="padding: 5px 0 0 0">
                        <p style="font-size: 32px; color: #666; line-height: 42px; letter-spacing: -2; margin: 0; padding: 0;">Hello {NAME}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2 style="font-size: 20px;color: #888888;font-weight: bold;margin: 0 0 20px 0;padding: 0;">
                          Your email address is: {EMAIL}
                        </h2>

                        <p style="margin-bottom:0;padding:0;">
                          {MESSAGE}
                        </p>

                        <hr style="background: #eeeeee; margin: 0px 0px 18px; padding: 0px; border-style: none; height: 1px;">
                        <span style="color: #999999; font-size: 12px;margin:0;padding:0;">
                          {DATE}
                        </span>

                        <hr style="background: #eeeeee; margin: 0px 0px 18px; padding: 0px; border-style: none; height: 1px;">

                        <p style="color: #999999; font-size: 12px;margin:0;padding:0;">
                            {SMALL_TEXT}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
